 body {
        margin: 0;
        height: 100%;
        width: 100%;   /* body fills the viewport height */
        font-size: 16px; /* root font size for rem/em */
        background-color: hsl(234, 29%, 20%);
        display: flex;
        justify-content: center;
        align-items: center;
      }
.attribution ,.success{
    display: none;
}
.error-message{
    color: hsl(354, 100%, 66%);
    font-size: 0.75rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    font-style: italic;
    display: none;
}
.signup-form{
    display:flex;
    flex-direction: column;
    height :40rem;
    width: 60%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    padding: 25px;
    border-radius: 20px;
    margin-top: 50px;
    flex-wrap: wrap;
}
.signup-content{
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    height: 30rem;
    width: 50%;
    padding: 20px;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: hsl(234, 29%, 20%);
}
.divider {
   width: 50%;
   height: 90%;
   display: flex;
   flex-wrap: wrap;

}
.email-input{
    height: 3rem;
    width: 22rem;
    border: 1px solid hsl(0, 0%,58%);
    border-radius: 10px;
    padding-left: 20px;
}
ul {
  list-style-image: url('./assets/images/icon-list.svg ');
  font-size: 16px;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 25px;
    font-family: 'Roboto', sans-serif   ;
    font-size: 16px;
    color: hsl(234, 29%, 20%);
    font-weight: 400;
    

}
li{
    padding-left: 5px;
    
}


h1{
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 3.5rem;
    line-height: 3rem;
    font-weight: bold;
    margin: 0;

}
.subscribe{
    height: 3.5rem;
    width: 24rem;

    border-radius: 10px;
    background-color: hsl(234, 29%, 20%);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif; 
    cursor: pointer;
    text-align: center;
}
.success{
    display: none;
    flex-direction:column;
    padding: 40px;
    align-items: flex-start;
    margin-top: 10rem;
    height: 25rem;
    width: 25rem;
    background-color: white;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: hsl(234, 29%, 20%);
    font-weight: 400;
    
}
h2{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}
.tick{
    height: 3.5rem;
    width: 3.5rem;
    margin-bottom: 20px;
}
.confirmation-message{
    line-height: 1.5rem;
    margin-bottom: 20px;
}
.dismiss{
    height: 3.5rem;
    width: 24rem;
    border-radius: 10px;
    background-color: hsl(234, 29%, 20%);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif; 
    cursor: pointer;
    text-align: center;
    border: 0px;
    margin-top: 20px;
}
.dismiss:hover,.subscribe:hover{
    background-color: hsl(4, 100%, 67%);
    box-shadow: 15px 30px 12px hsl(4, 100%, 67%, 0.2); 
    




    border: 0px;


}
.valid-email{
    color: red;
    padding-left: 7.5rem;
    display: none;
    
}